@media(max-width:1280px){
    .right-main{
        main{
            section{
                &.games{
                    .container{
                        .content {
                            .card{
                                width: calc(100% / 3 - 10px);
                            }
                        }
                    }
                }
                &.game-wrapper{
                    .game-bar{
                        min-width: 100%;
                        overflow-x: auto;
                        &::-webkit-scrollbar{
                            height: 10px;
                        }
                        a{
                            min-width: 217px;
                        }
                    }
                    .game-container{
                        flex-wrap: wrap;
                        .game{
                            width: 100%;
                            order: 1;
                        }
                        .leader-board{
                            order: 2;
                        }
                        .bet-slips{
                            order: 3;
                        }
                        .leader-board,.bet-slips{
                            width: calc(50% - 10px);
                        }
                    }
                }
            }
            footer{
                .container{
                    .top-content{
                        height: fit-content;
                        .right,.left{
                            width: 50%;
                        }
                        .right{
                            align-items: flex-end;
                            justify-content: flex-end;
                            gap: 10px;
                        }
                    }
                }
            }
        }
    }
}
@media(max-width:900px){
    .filter-header{
        .form-control{
            width: 50% !important;
        }
    }
    .container{
        max-width: calc(100% - 19px);
    }
    .desktop{
        display: none;
    }
    .mobile{
        display: block;
    }
    nav{
        position: absolute;
        z-index: 100;
        width: 100%;
        height: 70px;
        bottom: 0;
        ul{
            display: flex;
            justify-content: space-around;
            li{
                &:nth-child(1){
                    order: 3;
                    border-radius: 100px;
                    background: #3c4a66;
                    height: 58px;
                    width: 58px;
                    margin-top: 7px;
                    font-size: 20px;
                    color: #fff;
                    i{
                        background: linear-gradient(177deg, #49a8d3, #0081e2);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                }
                &:nth-child(2){
                    order: 1;
                }
                &:nth-child(3){
                    order: 2;
                }
                &:nth-child(4){
                    order: 4;
                }
                &:nth-child(5){
                    order: 5;
                }
            }
        }
    }
    .right-main{
        width: 100%;
        main{
            height: calc(100% - 155px);
            max-height: calc(100% - 155px);
            section{
                &.slide{
                    .owl-carousel{
                        .item{
                            .title{
                                max-width: 80%;
                                top: unset;
                                transform: unset;
                                bottom: 20px;
                                h1{
                                    font-size: 30px;
                                    color: #fff;
                                }
                                p{
                                    line-height: 1.2;
                                }
                            }
                        }
                    }
                }
                &.game-wrapper{
                    .game-history{
                        .content{
                            gap: 20px;
                            padding-bottom: 10px;
                            overflow-x: auto;
                            max-width: 100%;
                            &::-webkit-scrollbar{
                                height: 10px;
                            }
                            .item{
                                min-width: 54px;
                                .item-inside{
                                    white-space: nowrap;
                                }
                            }
                        }
                    }
                }
            }
            footer{
                .container{
                    max-width: calc(100% - 57px);
                    .top-content{
                        height: fit-content;
                        flex-direction: column;
                        align-items: center;
                        .left,.right{
                            width: 100%;
                            text-align: left;
                        }
                        .right{
                            align-items: center;
                            justify-content: flex-start;
                            margin-bottom: 15px;
                            .item{
                                width: 150px;
                                align-items: flex-start;
                                gap: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(max-width:800px){
    .right-main{
        main {
            section{
                &.jackpot{
                    .content{
                        flex-direction: column;
                        table{
                            width: 100%;
                        }
                    }
                }
                &.news{
                    .container{
                        .content{
                            padding: 0;
                            .news-item > div{
                                text-align: left;
                            }
                        }
                    }
                }
            }
        }
    }
    .register-wrapper{
        width: 94%;
        position: relative;
        padding: 23px 0;
        margin-bottom: 29px;
        .logo{
            margin-bottom: 29px;
        }
        .register-container{
            width: 100%;
            &.w-500{
                width: 100%;
            }
            form{
                .inputs{
                    flex-direction: column;
                    .input-form{
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media(max-width:683px){
    .right-main{
        main{
            section{
                &.game-wrapper{
                    .game-container {
                        .leader-board,.bet-slips{
                            width: 100%;
                        }
                        .game{
                            .content{
                                .drawers{
                                    flex-wrap: wrap;
                                    >div{
                                        width: 100%;
                                    }
                                }
                            }
                            .controls{
                                flex-direction: column;
                                gap: 10px;
                            }
                        }
                    }
                }
            }
            footer{
                .container{
                    .top-content{
                        .right{
                            .item{
                                width: 100px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(max-width:650px){
    .right-main{
        header{
            padding: 0 7px;
            .right-most{
                gap: 6px;
                .user-info{
                    gap: 10px;
                    .user{
                        span{
                            display: none;
                        }
                        .user-avatar{
                            margin-left: 0;
                        }
                    }
                }
                .btns{
                    .btn{
                        width: 100px;
                        i{
                            display: none;
                        }
                    }
                }
            }
        }
        main{
            section{
                &.games{
                    .container{
                        .content{
                            .card{
                                width: calc(100% / 2 - 5px);
                            }
                        }
                    }
                }
            }
        }
    }
    .transaction-box{
        width: 100%;
    }
    .login-wrapper{
        width: 94%;
        .login-container{
            width: 100%;
        }
    }
    table{
        &.table-two{
            font-size: 10px;
            thead{
                th{
                    text-align: center;
                }
            }
            tbody{
                tr{
                    td{
                        text-align: center;
                    }
                }
            }
        } 
    }
}
@media(max-width:420px){
    .right-main{
        main{
            section{
                &.games{
                    .container{
                        .content{
                            .card{
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}